!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title
      Traffic Hero | #{yield(:title)}
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body
    - flash.each do |key, value|
      %div{:class => "alert alert-#{key}"}= value
    .banner 
      %img{:src => "assets/atlanta.jpg"}/
    = render 'layouts/navigation'
    .container
      = yield
      / = render 'layouts/footer'
      = javascript_include_tag "application"
